.container {
    width: 100%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    width: 100%;
    margin-top: 10px;
}

td {
    padding: 10px;
}

input {
    line-height: 10px;
    height: 50px;
    font-size: larger;
    border-radius: 5px;
    border: 1px solid gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.note {
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
    color: red;
}

.btn-list {
    margin-top: 10px;
}

.btn-withdraw {
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid gray;
    cursor: pointer;
}