<div class="container">
  <div>
    <input type="number" [(ngModel)]="money" />
  </div>
  <div class="note">
    <span>Note: Please enter value in multiple of 10 (excluding 10 and 30) and less than 1 Crore</span>
  </div>
  <div class="btn-list">
    <button class="btn-withdraw" (click)="chekMoney()">Withdraw</button>
  </div>
  <div>
    <table>
      <tr>
        <td>No. of 20 notes : {{twentyNotes}}</td>
        <td>20 * {{twentyNotes}}</td>
        <td>{{20 * twentyNotes}}</td>
      </tr>
      <tr>
        <td>No. of 50 notes : {{fiftyNotes}}</td>
        <td>50 * {{fiftyNotes}}</td>
        <td>{{50 * fiftyNotes}}</td>
      </tr>
      <tr>
        <td>No. of 100 notes : {{hundredNotes}}</td>
        <td>100 * {{hundredNotes}}</td>
        <td>{{100* hundredNotes}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Total Amount : {{(20 * twentyNotes) + (50 * fiftyNotes) + (100* hundredNotes)}}</td>
      </tr>
    </table>
  </div>
</div>